nav.breadcrumb {
  font-size: .85em;
  font-weight: 600;
  text-transform: uppercase;
}

.content .post-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

etwin-forum-post, .etwin-forum-post {
  $metaColor: $lightViolet;
  $metaBg: $deepViolet;
  $borderColor: $lightViolet;
  $spacing: 0.5rem;

  display: block;
  background-color:$darkGrey;
  border-bottom: 3px solid $deepBlack;
  border-radius: 4px;
  margin: 2.7 * $spacing 0;
  padding: 9px 0 0 0;

  .post-meta {
    display: flex;
    align-items: center;
    background-color: darken($deepGrey, 2.5);
    color: $lightViolet;
    padding: 2px 16px;

    .author {
      font-weight: $fontWeightBold;
      flex-grow: 1;
    }

    .time {
      font-size: .7em;
      line-height: 1.25em;
      color: #6f6f6f;
      text-align: right;
    }
  }

  .body, .deleted, .moderation {
    padding: 14px 16px;
  }

  .deleted {
    background-color: black;
  }

  .moderation {
    background-color: #470d0b;
  }
}

.content .forum-list, .content .section-list, .content .thread-list {
  list-style: none;
  padding-left: 0 !important;

  li {
    border-bottom: 2px solid #1f1f1f;
  }

  li:first-child {
    border-top: 2px solid #1f1f1f;
  }

  a {
    color: $lightWhite;
    padding: 14px 8px;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1.1em;

    transition: background-color .15s;

    &:hover, &:focus, &:focus-within {
      text-decoration: none;
      background-color: transparentize($deepBlack, .7);
    }

    .name {
      flex-grow: 1;
    }

    .count {
      display: inline-block;
      text-align: center;
      color: $lightGrey;
      font-size: .85rem;
      font-weight: 600;
      letter-spacing: .04em;
      white-space: pre;
      margin-left: 1em;
      padding: 1px 1em;
      min-width: 5.2em;
      border-radius: 4px;
      border: 2px solid transparentize($darkGrey, .45);
    }

  }
}
