html {
  min-height: 100%;
  display: flex;
}

body {
  flex: 1;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 100%;
  background-color: $deepGrey;

  color: $lightWhite;
  font-family: "Nunito Sans", "sans serif";
  font-size: $fontSize;
  line-height: $lineHeight;
  font-weight: $fontWeightRegular;
  font-style: normal;
  letter-spacing: 0.005em;

  a {
    color: $lightViolet;
    text-decoration: none;

    &:hover, &:focus {
      text-decoration: underline;
    }
  }

  b, strong {
    font-weight: $fontWeightBold;
    letter-spacing: 0.01em;
  }
}

app-root {
  flex: 1;
}

etwin-main-layout, etwin-small-layout {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  & > header {
    // The header is built with the following layers (ordered from the front to the back):
    // 1. Light effect on the bottom border
    // 2. Bottom border
    // 3. Banner image
    // 4. Red background gradient

    $bannerHeight: 109px;
    $bannerWidth: 1100px;
    $borderHeight: 3px;

    $borderColor: #a39fb9;
    $borderLightColor: #ffffff;
    $bgShadowColor: #2d0706;
    $bgColor: #6a100e;

    height: $bannerHeight + $borderHeight;
    margin: 41px 0 42px 0;
    background-color: $bgColor;

    background-size: $bannerWidth $borderHeight, 1px $borderHeight, auto, 1px $bannerHeight;
    background-image: linear-gradient(to right, $borderColor, $borderLightColor 50%, $borderColor),
    linear-gradient($borderColor, $borderColor),
    url("/assets/banner.png"),
    linear-gradient(lighten($bgShadowColor, 5%) 0%, $bgColor 68%, $bgColor 78%, lighten($bgShadowColor, 2%) 100%);
    background-repeat: no-repeat, repeat-x, no-repeat, repeat-x;
    background-position: bottom center, bottom center, top center, top center;

    h1 {
      margin: 0;
      padding: 0;

      a {
        display: block;
        text-align: center;
        max-width: $bannerWidth / 2;
        height: $bannerHeight;
        color: transparent;
        margin: auto;
        overflow: hidden;
        padding: 2rem 0;
      }
    }
  }

  & > .star-bg {
    flex: 1;
    background-image: url("/assets/bg-star.svg");
    background-repeat: no-repeat;
    background-position: center -440px;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -10;
    top: 0;
  }
}

.content {
  margin: 0 auto 4.3em auto;
  padding: 2.25em;
  max-width: $contentWidth;
  width: 88%;
  background-color: transparentize($deepGrey, .3);
  border-top: 3px solid $red;
  border-radius: 6px;

  box-shadow: 0 0 18px 3px transparentize($lightViolet, .7);


  /* --- TEXT AND TITLING DEFINITIONS --- */

  p, h1, h2, h3, h4, h5, h6 {
    margin: .8em 0 .25em 0;
  }

  ul, ol {
    padding-left: 22px;
  }

  dl {
    dt {
      font-weight: $fontWeightBold;
      text-decoration:underline;
      margin: 0;
    }

    dd {
      margin-left: .6em;
    }
  }

  h1 {
    font-size: 3em;
    line-height: 0.98em;
    color: $red;
    font-weight: $fontWeightLight;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: -0.025em;
    overflow-wrap: break-word;
    margin-left: -.1em;
  }

  h2 {
    font-size: 2.4em;
    line-height: 1.05em;
    color: $red;
    font-weight: $fontWeightBold;
    letter-spacing: -0.015em;
    overflow-wrap: break-word;
    margin-left: -0.08em;
  }

  h3 {
    font-size: 2em;
    line-height: 1.25em;
    font-weight: $fontWeightLight;
    letter-spacing: -0.01em;
    overflow-wrap: break-word;
  }

  h4 {
    font-size: 1.07em;
    line-height: 1.45em;
    font-weight: $fontWeightBold;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 0.085em;
  }

  h5 {
    font-size: $fontSize;
    line-height: 1.4em;
    font-weight: $fontWeightLight;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 0.04em;
  }

  h6 {
    font-size: $fontSize;
    line-height: 1.4em;
    color: $mediumGrey;
    font-weight: $fontWeightBold;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 0.065em;
  }

  table {
    border-collapse: collapse;
    margin: 1.3em 0;
  }

  td, th {
    border: 1px solid $lightGrey;
    padding: 0.5em;
    text-align: left;
  }

  th {
    background-color: $darkGrey;
    font-weight: bold;
    font-size: 1.1em;
  }

  code, pre {
    font-size: 85%;
    border-radius: 3px;
    background: $deepViolet;
    border: 1px solid $darkViolet;
  }

  code {
    padding: 0.2em 0.4em;
    margin: 0;
  }

  pre {
    padding: .8em 1.1em;
    margin: 0;
    line-height: 1.5em;
    overflow: auto;

    // SCROLLBAR STYLING  
    scrollbar-width: thin;
    scrollbar-color: $lightWhite $mediumGrey;
    &::-webkit-scrollbar { width: 8px; height: 8px; }
    &::-webkit-scrollbar-track { background: $mediumGrey; }
    &::-webkit-scrollbar-thumb { background-color: $lightWhite; }
  }

  blockquote {
    margin: 1em 0;
    padding: 0;
    padding-left: 1em;
    border-left: 3px solid $darkViolet;
    border-radius: 3px;
  }

  img {
    max-width: 100%;
  }

  .info {
    font-style: italic;
    font-size: .95em;
    color: darken($lightWhite, 30%);
    padding-left: .6em;
    border-left: 2px solid $lightGrey;
    margin: .6em 0;
  }

  &>h1:first-child {
    margin-top: .2em;
  }
}


.error {
  font-size: .85em;
  line-height: 1.3em;
  font-weight: 700;
  letter-spacing: .015em;
  padding: 9px;
  border-radius: 4px;
  background-color: $darkViolet;
}

.splitter {
  width: 100%;
  margin: 2.3em 0;
  border-bottom: 2px solid $mediumGrey;
  display: block;
  clear: both;
  height: 2px;
  overflow: visible;
  color: $lightWhite;
  text-align: center;
  line-height: .3em;
  text-transform: uppercase;
  text-shadow: 0 0 5px $deepGrey;
  font-size: .76em;
  letter-spacing: .05em;

  &.s {  margin: 1.4em 0; }
  &.xl { margin: 3.8em 0; }
}

label, input[type=email], input[type=password], input[type=text], input[type=submit] {
  display: block;
}

$spacing: 1rem;

label {
  margin: $spacing 0;
}

.content {
  input[type=email], input[type=text], input[type=password], input[type=submit], select {
    width: 100%;
    border: none;
  }

  input.field, textarea.field {
    color: $lightWhite;
    background-color: $darkGrey;
    padding: .7em;
    margin: .4em 0 .25em 0;
    border-radius: .25em;
    outline: none;
    box-shadow: inset 0 0 0 1px $lightViolet;  /*Inset shadow, simulates a white border*/

    transition: all .1s;

    &:hover {
      box-shadow: inset 0 0 0 2px $lightViolet;
    }

    &:focus, &:active {
      background-color: $deepViolet;
    }
  }

  textarea.field {
    min-height: 30vh;
  }
}

textarea {
  overflow: auto;
  width: 100%;
  resize: vertical;
  min-height: 2em;
}





/* --- MOBILE CONTENT --- */


@media only screen and (max-width: $desktopBreakpoint) {

  body {
    font-size: $fontSizeMobile;
  }
  .content {
    padding: 1.2em;
    width: 92%;
    border-radius: 4px;

    box-shadow: 0 0 18px 3px transparentize($lightViolet, .7);

    h1 {
      font-size: 2.6em;
    }

    h2 {
      font-size: 1.85em;
    }

    h3 {
      font-size: 1.5em;
    }
  }

  footer {
    font-size: $fontSizeMobile;
  }
}
