<etwin-main-layout>
  <h1 i18n="Title of the games section@@games.title">Games</h1>

  <article class="game" id="eternalfest">
    <article class="tridiv">
      <div class="scene">
        <div class="shape cuboid-1 cub-1">
          <div class="face ft">
            <img src="/assets/box_eternalfest.png">
          </div>
          <div class="face bk"></div>
          <div class="face rt"></div>
          <div class="face lt"></div>
          <div class="face tp"></div>
          <div class="face bm"></div>
        </div>
      </div>
    </article>
    <div>
      <h2 i18n="Title of the Eternalfest game description@@games.eternalfestTitle">Eternalfest</h2>
      <p i18n="Description of the Eternalfest game@@games.eternalfestDescription"><a href="https://eternalfest.net/">Eternalfest</a> is a reimplementation of <em>Hammerfest</em>. It has both the official levels, and new content!</p>
      <div class="actionBox">
        <a i18n="Button to access the Eternalfest game@@games.eternalfestButton" href="https://eternalfest.net/" class="btn">Play now !</a>
      </div>
    </div>
  </article>

  <div class="splitter"></div>

  <article class="game" id="emush">
    <article class="tridiv">
      <div class="scene">
        <div class="shape cuboid-1 cub-1">
          <div class="face ft">
            <img src="/assets/box_mush.png">
          </div>
          <div class="face bk"></div>
          <div class="face rt"></div>
          <div class="face lt"></div>
          <div class="face tp"></div>
          <div class="face bm"></div>
        </div>
      </div>
    </article>
    <div>
      <h2 i18n="Title of the eMush game description@@games.emushTitle">eMush</h2>
      <p i18n="Description of the eMush game@@games.emushDescription">Co-operative multiplayer space survival and escape game</p>
      <p i18n="Current status of the eMush game@@games.emushStatus"><em>This game is still in development.</em></p>
      <div class="actionBox">
        <a i18n="Button to access the MyHordes game@@games.emushButton" href="https://beta.emush.eternal-twin.net/" class="btn">Test the alpha!</a>
      </div>
    </div>
  </article>

  <div class="splitter"></div>

  <article class="game" id="myhordes">
    <article class="tridiv">
      <div class="scene">
        <div class="shape cuboid-1 cub-1">
          <div class="face ft">
            <img src="/assets/box_myhordes.png">
          </div>
          <div class="face bk"></div>
          <div class="face rt"></div>
          <div class="face lt"></div>
          <div class="face tp"></div>
          <div class="face bm"></div>
        </div>
      </div>
    </article>
    <div>
      <h2 i18n="Title of the MyHordes game description@@games.myhordesTitle">MyHordes</h2>
      <p i18n="Description of the MyHordes game@@games.myhordesDescription"><a href="https://zombvival.de/myhordes/">MyHordes</a> is an open implementation of the browser game "Die2Nite" and its other versions by MotionTwin and developed by the community.</p>
      <p i18n="Current status of the MyHordes game@@games.myhordesStatus"><em>This game is still in development.</em></p>
      <div class="actionBox">
        <a i18n="Button to access the MyHordes game@@games.myhordesButton" href="https://zombvival.de/myhordes/" class="btn">Test the alpha !</a>
      </div>
    </div>
  </article>

  <div class="splitter"></div>

  <article class="game" id="studioquiz">
    <article class="tridiv">
      <div class="scene">
        <div class="shape cuboid-1 cub-1">
          <div class="face ft">
            <img src="/assets/box_studioquiz.png">
          </div>
          <div class="face bk"></div>
          <div class="face rt"></div>
          <div class="face lt"></div>
          <div class="face tp"></div>
          <div class="face bm"></div>
        </div>
      </div>
    </article>
    <div>
      <h2 i18n="Title of the Directquiz game description@@games.directquizTitle">Directquiz</h2>
      <p i18n="Description of the Directquiz game@@games.directquizDescription">Jeu de quiz : votre culture mise à rude épreuve !</p>
      <p i18n="Current status of the Directquiz game@@games.directquizStatus"><em>This game is available in french only.</em></p>
      <div class="actionBox">
        <a i18n="Button to access the Directquiz game@@games.directquizButton" href="https://directquiz.niko.ovh/go/index.php/members/?page_62936=6" class="btn">Play now !</a>
      </div>
    </div>
  </article>

  <div class="splitter"></div>

  <article class="game" id="mjrt">
    <article class="tridiv">
      <div class="scene">
        <div class="shape cuboid-1 cub-1">
          <div class="face ft">
            <img src="/assets/box_mjrt.png">
          </div>
          <div class="face bk"></div>
          <div class="face rt"></div>
          <div class="face lt"></div>
          <div class="face tp"></div>
          <div class="face bm"></div>
        </div>
      </div>
    </article>
    <div>
      <h2 i18n="Title of the Mjrt game description@@games.mjrtTitle">Mjrt</h2>
      <p i18n="Description of the Mjrt game@@games.mjrtDescription">Une question, trois réponses. Combien de tours survivrez-vous ?</p>
      <p i18n="Current status of the Mjrt game@@games.mjrtStatus"><em>This game is available in french only.</em></p>
      <div class="actionBox">
        <a i18n="Button to access the Mjrt game@@games.mjrtButton" href="https://mjrt.net/login" class="btn">Play now !</a>
      </div>
    </div>
  </article>

  <div class="splitter"></div>

  <article class="game" id="dinoparc">
    <article class="tridiv">
      <div class="scene">
        <div class="shape cuboid-1 cub-1">
          <div class="face ft">
            <!-- TODO --><img src="/assets/box_cover_ft_wip.svg" style="opacity:.4;">
          </div>
          <div class="face bk"></div>
          <div class="face rt"></div>
          <div class="face lt"></div>
          <div class="face tp"></div>
          <div class="face bm"></div>
        </div>
      </div>
    </article>
    <div>
      <h2 i18n="Title of the Dinoparc game description@@games.dinoparcTitle">Dinoparc</h2>
      <p i18n="Current status of the Dinoparc game@@games.dinoparcStatus"><em>This game is still in development.</em></p>
      <div class="actionBox">
        <a i18n="Button to access the Dinoparc game@@games.dinoparcButton" class="btn disabled">Coming soon...</a>
      </div>
    </div>
  </article>

  <div class="splitter"></div>

  <article class="game" id="dinorpg">
    <article class="tridiv">
      <div class="scene">
        <div class="shape cuboid-1 cub-1">
          <div class="face ft">
            <img src="/assets/box_dinorpg.png">
          </div>
          <div class="face bk"></div>
          <div class="face rt"></div>
          <div class="face lt"></div>
          <div class="face tp"></div>
          <div class="face bm"></div>
        </div>
      </div>
    </article>
    <div>
      <h2 i18n="Title of the DinoRPG game description@@games.dinorpgTitle">DinoRPG</h2>
      <p i18n="Description of the DinoRPG game@@games.dinorpgDescription">Train your dinoz and set off on an extraordinary adventure...</p>
      <p i18n="Current status of the DinoRPG game@@games.dinorpgStatus"><em>This game is still in development.</em></p>
      <div class="actionBox">
        <a i18n="Button to access the DinoRPG game@@games.dinorpgButton" class="btn disabled">Coming soon...</a>
      </div>
    </div>
  </article>

  <div class="splitter"></div>

  <article class="game" id="cafejeux">
    <article class="tridiv">
      <div class="scene">
        <div class="shape cuboid-1 cub-1">
          <div class="face ft">
            <!-- TODO --><img src="/assets/box_cover_ft_wip.svg" style="opacity:.4;">
          </div>
          <div class="face bk"></div>
          <div class="face rt"></div>
          <div class="face lt"></div>
          <div class="face tp"></div>
          <div class="face bm"></div>
        </div>
      </div>
    </article>
    <div>
      <h2 i18n="Title of the CafeJeux game description@@games.cafejeuxTitle">CaféJeux</h2>
      <p i18n="Description of the CafeJeux game@@games.cafejeuxDescription">Jeux multi-joueurs, bonne humeur et défis entre amis !</p>
      <p i18n="Current status of the CafeJeux game@@games.cafejeuxStatus"><em>This game is still in development.</em></p>
      <div class="actionBox">
        <a i18n="Button to access the CafeJeux game@@games.cafejeuxButton" class="btn disabled">Coming soon...</a>
      </div>
    </div>
  </article>

  <div class="splitter"></div>

  <article class="game" id="labrute">
    <article class="tridiv">
      <div class="scene">
        <div class="shape cuboid-1 cub-1">
          <div class="face ft">
            <img src="/assets/box_labrute.png">
          </div>
          <div class="face bk"></div>
          <div class="face rt"></div>
          <div class="face lt"></div>
          <div class="face tp"></div>
          <div class="face bm"></div>
        </div>
      </div>
    </article>
    <div>
      <h2 i18n="Title of the Labrute game description@@games.labruteTitle">My Brute</h2>
      <p i18n="Description of the Labrute game@@games.labruteDescription">A free combat game: Create the most brutal fighter ever!</p>
      <p i18n="Current status of the Labrute game@@games.labruteStatus"><em>This game is still in development.</em></p>
      <div class="actionBox">
        <a i18n="Button to access the Labrute game@@games.labruteButton" class="btn disabled">Coming soon...</a>
      </div>
    </div>
  </article>

  <div class="splitter"></div>

  <article class="game">
    <article class="tridiv">
      <div class="scene">
        <div class="shape cuboid-1 cub-1">
          <div class="face ft">
            <img src="/assets/box_cover_ft_more.svg" style="opacity:.4;">
          </div>
          <div class="face bk"></div>
          <div class="face rt"></div>
          <div class="face lt"></div>
          <div class="face tp"></div>
          <div class="face bm"></div>
        </div>
      </div>
    </article>
    <div>
      <h2 i18n="Title of the &quot;more games&quot; section@@games.moreTitle">More to come</h2>
      <p i18n="Explanation that more games will be added to the list@@games.moreDescription">This section will be expanded as new games are published online.</p>
    </div>
  </article>

</etwin-main-layout>
