<etwin-bar></etwin-bar>
<header>
  <h1><a routerLink="/">Eternal-Twin</a></h1>
</header>

<div class="star-bg"> </div>

<div id="headBar">
  <nav id="main-menu">
    <input type="checkbox" id="menu-toggle" />
    <label for="menu-toggle" class="label-toggle" i18n="Button to toggle the main menu@@app.menu.toggle">Menu</label>
    <ul>
      <li><a routerLink="/" class="disabled" i18n="Menu link to the nexus (feed) page@@app.menu.nexus">Nexus</a></li>
      <li><a routerLink="/games" i18n="Menu link to the games page@@app.menu.games">Games</a></li>
      <li><a routerLink="/forum" i18n="Menu link to the forum page@@app.menu.forum">Forum</a></li>
      <li><a routerLink="/" class="disabled" i18n="Menu link to the groups page@@app.menu.groups">Groups</a></li>
      <li><a routerLink="/donate" i18n="Menu link to the donation page@@app.menu.donate">Contribute</a></li>
      <li><a routerLink="/docs" i18n="Menu link to the docs page@@app.menu.docs">Docs</a></li>
      <li><a routerLink="/archive" i18n="Menu link to the archive@@app.menu.archive">Archive</a></li>
    </ul>

    <div class="npc"> <!-- TODO : TRANSLATION AND RANDOMIZER //-->
      <img src="https://data.twinoid.com/img/characters/dino_mandragore.png" alt="Mandragore">
      <div class="npcTip">
        <p>Mandragore, héros et aventurier ayant parcouru la totalité des terres de DinoRPG !</p>
      </div>
    </div>
<!--    <div class="npc nb2"> &lt;!&ndash; TODO : TRANSLATION AND RANDOMIZER //&ndash;&gt;-->
<!--      <img src="https://data.twinoid.com/img/characters/labrute_brute.png" alt="Brute">-->
<!--      <div class="npcTip">-->
<!--        <p>La Brute : une vraie boucherie !</p>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="npc nb3"> &lt;!&ndash; TODO : TRANSLATION AND RANDOMIZER //&ndash;&gt;-->
<!--      <img src="https://data.twinoid.com/img/characters/hordes_zonzon.png" alt="Zonzon">-->
<!--      <div class="npcTip">-->
<!--        <p>Un zombie, de ceux qui hantent les nuits glaciales de Hordes...</p>-->
<!--      </div>-->
<!--    </div>-->
  </nav>
</div>

<div class="content">
  <ng-content></ng-content>
</div>

<footer>
  <etwin-footer></etwin-footer>
</footer>
