<ng-container [ngSwitch]="link.user.type">
  <ng-container *ngSwitchCase="ObjectType.TwinoidUser">
    <a [routerLink]="['', 'archive', 'twinoid', 'users', link.user.id]">
      <span><img src="/assets/login-methods/twinoid.png"/></span>
      <strong>{{link.user.displayName}}</strong>
      <em>twinoid.com</em>
    </a>
  </ng-container>
  <ng-container *ngSwitchCase="ObjectType.DinoparcUser">
    <a [routerLink]="['', 'archive', 'dinoparc', link.user.server, 'users', link.user.id]">
      <span><img src="/assets/login-methods/dinoparc.png"/></span>
      <strong>{{link.user.username}}</strong>
      <em>{{link.user.server}}</em>
    </a>
  </ng-container>
  <ng-container *ngSwitchCase="ObjectType.HammerfestUser">
    <a [routerLink]="['', 'archive', 'hammerfest', link.user.server, 'users', link.user.id]">
      <span><img src="/assets/login-methods/hammerfest.png"/></span>
      <strong>{{link.user.username}}</strong>
      <em>{{link.user.server}}</em>
    </a>
  </ng-container>
  <ng-container *ngSwitchDefault>
    {{link | json}}
  </ng-container>
</ng-container>
